{% block body %}

{% include 'navigator.html' %}

{% endblock %}


<!DOCTYPE html>
<html>
<head>
<style>
.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

</style>
</head>
  <body>
    <div class="center">
      
    
    <h1>Select image to inspect</h1>
     
 
    <form method="POST" enctype="multipart/form-data" action="/uploadpredict/">
        <input type="file" id="myFile" name="uploaded-file" accept=".jpg">
        <input type="submit" value="Submit">
    </form>
 
    </div>


  
  </body>
</html>