<!DOCTYPE html>
<html> 
<head>
</head>

<style>
.buttonsContainer {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  flex-direction: columns;
}

.Container {
    text-align: center;
    }
</style>

<body>
<div class="Container">
<div>

<img src="/static/glass.gif" alt=""  align="middle" >

<h1>Inspection of concrete structures</h1>
</div>

<div class="buttonsContainer">

<button onclick="location.href='/uploadfile/'">Upload Image</button>

<button onclick="location.href='/info/'">Info</button>


</div>
</div>
</body>
</html>