<!DOCTYPE html>
<html> 
<head>
</head>

<style>
.buttonsContainer {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  flex-direction: columns;
}

.Container {
    text-align: center;
    }
</style>

<body>
<div class="Container">
<div>

<img src="predictor1.jpg" alt=""  align="middle" />
<h4>PREDICTOR</h4>
</div>

<div class="buttonsContainer">
<button onclick="location.href='/webscraper/'">WebScraper</button>
<button onclick="location.href='/cleanup/'">Clean Data</button>
<button onclick="location.href='/model_create/'">Create Model</button>
<button onclick="location.href='/model_load/'">Load Model</button>
<button onclick="location.href='/'">Check Server</button>
<button onclick="location.href='/customerview/'">Select model</button>
<button onclick="location.href='/predict/'">Predict</button>
<button onclick="location.href='/main/'">Main Menu</button>

</div>
</div>
</body>
</html>